@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@typeparam T

@{
    var itemsToDisplay = DisplayableItems();
}

<Card Margin="@Margin" Padding="@Padding" BorderType="BorderType" BorderRadius="@BorderRadius">
    <ul class="neo-plain-list @ColorClass">
        @if (ItemRenderFragment != null && itemsToDisplay.Length != 0)
        {
            @foreach (var item in itemsToDisplay)
            {
                <li class="neo-plain-list-item @GetSelectedClass(item)" @onclick="(_) => ItemClicked(item)">
                    @ItemRenderFragment(item)
                </li>
            }
        }
        else
        {
            <li> Nothing to display... </li>
        }
    </ul>
</Card>
