@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents

@inherits MouseInteractiveBaseComponent

<div class="@GetShadowPosition() @GetPadding() @GetMargin() base-card-shape @GetBackgroundShape() @CustomClasses @textSelectableStyle h-full" 
     style="@GetBorderRadius()"
     @onmouseover=OnMouseOver @onmouseout=OnMouseOut
    @onmousedown=OnMouseDown @onmouseup=OnMouseUp
    @onclick=OnMouseClick>
    @ChildContent
</div>